<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id="app">
    Ask a yes/no question: <input type="text" v-model="question">
    <div>{{ answer }}</div>
    <!-- 如果已有class, 那么v-bind:class会直接新加class, v-bind:class也可以直接绑定一个对象变量， 也可以使用数组 -->
    <div class="text" v-bind:class="{ active: isActive }">test class</div>
    <div v-bind:class="computedClass">通过计算属性增加class</div>
    <div v-if="isActive === true">active</div>
    <div v-else-if="isActive === 'ok'">active ok</div>
    <div v-else>dis-active</div>

    <!-- 使用key管理可复用的元素, 如果不使用key，则会公用同一个相同元素，注意下面的input -->
    <template v-if="loginType === 'username'">
      <label for="">Username:</label>
      <input type="text" placeholder="Enter your username">
    </template>
    <template v-else>
      <label for="">Email:</label>
      <input type="text" placeholder="Enter your email address">
    </template>
    <template v-if="loginType === 'username'">
        <label for="">Username:</label>
        <input type="text" placeholder="Enter your username" key="username">
      </template>
      <template v-else>
        <label for="">Email:</label>
        <input type="text" placeholder="Enter your email address" key="email">
      </template>
    <button @click="toggleLogin">toggle login type</button>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script>
  Vue.component('todo-item', {
    props: ['todo'],
    //template: '<li>{{ todo.name }}</li>',
    render(h) {
      return h('li', 'aaa')
    }
  })

  var app = new Vue({
    el: "#app",
    data: {
      isActive: true,
      question: '',
      answer: 'I cannot give you an answer until you ask a question!',
      isActive: true,
      error: null,
      loginType: 'username'
    },
    computed: {
      computedClass: function() {
        return {
          active: this.isActive && !this.error,
          'text-danger': this.error && this.error.type === 'fatal'
        }
      }
    },
    watch: {
      question: function () {
        this.answer = 'Waiting for you to stop typing...';
        this.debouncedGetAnswer();
      }
    },
    created: function () {
      // `_.debounce` 是一个通过 Lodash 限制操作频率的函数。
      // 在这个例子中，我们希望限制访问 yesno.wtf/api 的频率
      // AJAX 请求直到用户输入完毕才会发出。想要了解更多关于
      // `_.debounce` 函数 (及其近亲 `_.throttle`) 的知识，
      // 请参考：https://lodash.com/docs#debounce
      this.debouncedGetAnswer = _.debounce(this.getAnswer, 500);
    },
    methods: {
      getAnswer: function () {
        if (this.question.indexOf('?') === -1) {
          this.answer = 'Question usually contain a question mark ?.';
          return;
        }
        var vm = this;
        setTimeout(function () {
          vm.answer = 'right';
        }, 1000)
      },
      toggleLogin: function () {
        this.loginType = this.loginType === 'username' ? 'email' : 'username';
      }
    }
  });
  
</script>

</html>