<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id="app">
    {{ message }}
    <span v-bind:title="name">请悬停在我身上</span>
    <p v-if="seen">看不见我</p>
    <div>
      <ul>
        <li v-for="item in list">
          {{item.name}}, {{item.age}}
        </li>
      </ul>
    </div>
    <div v-on:click="popList">减少三国人员</div>
    <button v-on:click="reverseMessage">逆转消息</button>
    <input type="text" v-model="message" />
    <div>
      <todo-item v-for="item in list" v-bind:todo="item" v-bind:key="item.age"></todo-item>
    </div>
    <div v-bind:id="testId">{{ testId }}</div>
    <div v-bind:id="testId+name">{{ testId + name }}</div>
    <!-- 计算属性 -->
    <div>{{ reversedMessage }} {{ testComputed }}</div>
    <div>{{ nameComputed }}</div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script>
  Vue.component('todo-item', {
    props: ['todo'],
    //template: '<li>{{ todo.name }}</li>',
    render(h) {
      return h('li', 'aaa')
    }
  })
  var obj = {
    message: 'hello vue',
    name: 'fet',
    seen: true,
    testId: 10,
    list: [
      {
        name: '刘备',
        age: '43'
      },
      {
        name: '关羽',
        age: '40'
      },
      {
        name: '张飞',
        age: '38'
      }
    ]
  };
  var app = new Vue({
    el: "#app",
    data: obj,
    //计算属性是基于它们的依赖进行缓存的。只在相关依赖发生改变时它们才会重新求值。
    computed: {
      //计算属性的getter, 当调用app.reversedMessage 时，就会出发getter方法, 注意在vue的方法，或者毁掉函数里不能使用剪头函数，否则this可能会不指向vue的实例app
      reversedMessage: function () {
        console.log('reversedMessage');
        return this.message.split('').reverse().join('');
      },
      //计算属性亦可用methods代替，在methods中声明testComputed,在{{ testComputed() }}中调用，这样就不再依赖缓存。
      testComputed: function () {
        console.log('testComputed');
        return this.reversedMessage + 'testComputed';
      },
      //计算属性默认只有getter，但是也可以提供一个setter
      nameComputed: {
        get: function () {
          console.log('name get');
          return this.name + 'hunter';
        },
        set: function (val) {
          console.log('name set');
          this.name = val;
        }
      }
    },
    methods: {
      popList: function () {
        this.list.pop();
      },
      reverseMessage: function () {
        this.message = this.message.split('').reverse().join('');
      }
    }
  });
  console.log(app.seen = obj.seen);
  obj.seen = false;    //app中的随着更改
  // app.name="hunter";
  // console.log(obj);   //obj随之更改

  //实例方法
  console.log(app.$data === obj);
  console.log(app.$el === document.getElementById('app'));
  app.$watch('message', function (newValue, oldValue) {
    console.log(newValue, oldValue);
  })
</script>

</html>